.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.meme {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 75%;
}

.meme > .top-text, .meme > .bottom-text {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.meme > .top-text {
  top: 10px;
}

.meme > .bottom-text {
  bottom: 10px;
}

.meme img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

label {
  margin-top: 10px;
}

#meme-space {
  margin-top: 50px;
}

.close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: red;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 50%;
  display: none;
}

.meme:hover .close-button {
  display: block;
}