.container {
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  margin-top: -10px;
}

.form-control {
  margin-bottom: 10px;
  padding: 10px;
}

form {
  margin-top: 50px;
}

.meme {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 300px;
  height: auto;
  /* background-repeat: no-repeat !important;
  background-size: contain !important; */
}

.meme > .top-text, .meme > .bottom-text {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px black;
  width: 300px;
  overflow-wrap: break-word;
  padding-left: 5px;
  padding-right: 5px;
}

.meme > .top-text {
  top: 10px;
}

.meme > .bottom-text {
  bottom: 10px;
}

.meme img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

label {
  margin-top: 10px;
}

#meme-space {
  margin-top: 50px;
  width: 100%;
  padding-left: 200px;
}

.close-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: red;
  opacity: 0.5;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 50%;
  display: none;
}

.meme:hover .close-button {
  display: block;
}

body {
  background-color: lavender;
}

.btn-primary:hover {
  background-color: #C3B1E1;
  border-color: #C3B1E1;
}

.btn-primary {
  background-color: #E0B0FF;
  border-color: #E0B0FF;
}